.active{
    display: flex;
    flex-direction: column;
}


.active > .bottomer{
   

    height: 1px;
    width: 100%;
    background: black;
 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: width 0.3s ease;
}